<h1>{{ doc.name }}</h1>
<p>{{doc.description}}</p>


{%if doc.properties %}
<article class="info-table methods">
    <h4>Properties</h4>
    <table>
        {% for property in doc.properties %}
        <tr><td>{{property.name}}</td><td>{{property.description}}</td></tr>
        {% endfor %}
    </table>
</article>
{% endif %}

{% if doc.methods %}
<article class="info-table methods">
    <h4>Methods</h4>
    <table>
        {% for method in doc.methods %}
        <tr><td><a href="#method-{{method.name}}">{{method.name}}</a></td><td>{{method.description}}</td></tr>
        {% endfor %}
    </table>
</article>
{% endif %}

{% for method in doc.methods %}
<article class="method-{{ method.name }}">
    <h3><a href="#method-{{ method.name }}" id="method-{{ method.name }}">{% if method.returnType %}{{ method.returnType }} {% endif %}{{ method.name }}(
        {% for parameter in method.parameters %}
        {% if parameter.type %}{{ parameter.type }} {% endif %}
        {{ parameter.name }}
        {% if parameter.defaultValue %} = {{ parameter.defaultValue }}{% endif %}
        {% if forloop.last != true %}, {% endif %}
        {% endfor %}
        );</a></h3>
    <section class="description">
        <p>{{ method.description }}</p>
    </section>
    {% if method.parameters %}
    <section class="parameters">
        <h4>Parameters</h4>
        <table>
            <tr>
                <td class="name">show : <strong>{Boolean|Number}</strong></td>
                <td class="desc">
                    <p></p>
                </td>
            </tr>
        </table>
    </section>
    {% endif %}
    <section class="function-return">
        <h4>Returns</h4>
        <table>
            <tr>
                <td><strong>bool</strong></td>
                <td>
                    <p>Returns true if the menu-item has a submenu.</p>
                </td>
            </tr>
        </table>
    </section>
    <section class="example">
        <h4>Example</h4>
        {% highlight javascript linenos %}
        // js-code
        {% endhighlight %}
    </section>
</article>
{% endfor %}
