<article class="method-info">
    <h3><a href="#method-{{ method }}" id="method-{{ method }}">{{ method }}({{ parameters }});</a></h3>
    <section class="description">
        <p>{{ description }}</p>
    </section>
    <section class="parameters">
        <h4>Parameters</h4>
        <table>
            <tr>
                <td class="name">show : <strong>{Boolean|Number}</strong></td>
                <td class="desc">
                    <p></p>
                </td>
            </tr>
        </table>
    </section>
    <section class="function-return">
        <h4>Returns</h4>
        <table>
            <tr>
                <td><strong>bool</strong></td>
                <td>
                    <p>Returns true if the menu-item has a submenu.</p>
                </td>
            </tr>
        </table>
    </section>
    <section class="example">
        <h4>Example</h4>
        {% highlight javascript linenos %}
        // js-code
        {% endhighlight %}
    </section>
</article>
