$dataTableGridBorder: 1px solid #DADEE0;
$dataTableHeaderBackground: #F4F5F9;
$dataTableCellBorder: 1px solid #EDEFF0;
$dataTableHeaderTextColor: #313131;


.c-datagrid {
  border: $dataTableGridBorder;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 400px;
  position: relative;

  .ui-resize-helper {
    width: 0.5rem;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}


.c-datagrid__header {
  background-color: $dataTableHeaderBackground;
  overflow: hidden !important;
  border-bottom: $dataTableGridBorder;

  .c-viewport__body {
    float: left;
    display: inline-block;
    padding-right: 3rem;
  }
}


.c-datagrid-columns, .c-datagrid-columns__column, .c-datatable, .c-datatable__row, .c-datatable__cell {
  box-sizing: border-box;
}


.c-datatable__row {
  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
}


.c-datatable__cell {
  border: $dataTableCellBorder;
  font-size: 11pt;
  color: #475466;
  padding: 0 0.4rem;
}


.c-datagrid-columns, .c-datatable {
  table-layout: fixed;
}


.c-datagrid-columns__column, .c-datatable__cell {
  overflow: hidden;
  white-space: nowrap;
}


.c-datagrid__body {
  flex: 1;
}


.c-datagrid-columns__column, .c-datatable__cell {
  height: 2rem;
}


.c-datagrid-columns {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}


.c-datagrid-columns__column {
  position: relative;
  user-select: none;
  border-left: $dataTableGridBorder;
  border-right: $dataTableGridBorder;
  color: $dataTableHeaderTextColor;
  font-weight: 600;

  &:first-child {
    border-left: 0;
  }

  &:last-child {
    border-right: 0;
  }
}


.c-datatable {
  border-spacing: 0;
  border-collapse: collapse;
}


.c-datatable__body {

}