
.ui-col-resize {
  position: relative;

  .ui-resize-handle {
    position: absolute;
    width: 0.5rem;
    right: -0.25rem;
    top: 0;
    bottom: 0;
    z-index: 2;
    cursor: col-resize;
  }
}
