@import "../variables";


.c-table {
  border: $table-border;
  padding: 0;
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  thead {
    background: #e3e3e3;
    border-bottom: $table-border;
  }

  td, th {
    padding: 0.5rem 0.625rem 0.625rem;
  }

  td {
    border-bottom: $table-border;
  }

  .table-hover tr:hover {
    background-color: #f3fefe !important;
  }

  .table-striped tr:nth-child(even) {
    background-color: #fafafa;
  }
}