

.container {
  width: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

  & > .row {
    margin: -1rem;
  }
}


.container-fluid {
  width: 100%;
  padding: 1rem;
}


.row {
  display: flex;
  flex-direction: row;
}


.row.flex-center {
  justify-content: center;
}


.column {
  display: flex;
  flex-direction: column;
}


@for $i from 1 to 12 {
  .flex-#{$i} {
    flex: $i;
  }
}
