

.viewport-auto {
  overflow: auto !important;
}

.viewport-x-auto {
  overflow-x: auto !important;
}

.viewport-y-auto {
  overflow-y: auto !important;
}

.viewport-hidden {
  overflow: hidden !important;
}

.viewport-x-hidden {
  overflow-x: hidden !important;
}

.viewport-y-hidden {
  overflow-y: hidden !important;
}

.viewport-scroll {
  overflow: scroll !important;
}

.viewport-x-scroll {
  overflow-x: scroll !important;
}

.viewport-y-scroll {
  overflow-y: scroll;
}
