---
title: "MenuBar"
description: A horizontally aligned navigation menu with dropdown items.
layout: default
pageClass: menu_page_index
---

<article class="example">
    <h2>MenuBar</h2>
    <p>
        MenuBar is a horizontal list of dropdown menus that can contain navigation links and more.  By default, the MenuBar
        is activated when the user clicks on a root level menu-item.  After the MenuBar is activated child items can then
        be activated on hover.  This is designed to simulate the normal behavior of MenuBars found in Window's and Mac applications.
    </p>

    <ul class="menubar" data-init="menubar" data-window-bind="testMenuBar">
        <li class="menuitem" data-menuitem>
            <a data-button>Root Item #1</a>
            <ul class="menu hidden" data-menu>
                <li class="menuitem" data-menuitem>
                    <a>Item #1</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="http://google.com">Google</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #2</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #3</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #4</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #5</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menuitem" data-menuitem>
            <a data-button>Root Item #2</a>
            <ul class="menu hidden" data-menu>
                <li class="menuitem" data-menuitem>
                    <a>Item #1</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #2</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #3</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #4</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #5</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menuitem" data-menuitem>
            <a data-button>Root Item #3</a>
            <ul class="menu hidden" data-menu>
                <li class="menuitem" data-menuitem>
                    <a>Item #1</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #2</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #3</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #4</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #5</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menuitem" data-menuitem>
            <a data-button>Root Item #4</a>
            <ul class="menu hidden" data-menu>
                <li class="menuitem" data-menuitem>
                    <a>Item #1</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #2</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #3</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #4</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #5</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menuitem" data-menuitem>
            <a data-button>Root Item #5</a>
            <ul class="menu hidden" data-menu>
                <li class="menuitem" data-menuitem>
                    <a>Item #1</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #2</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #3</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #4</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #5</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <br><br>

    {% highlight javascript linenos %}
    <ul class="menubar" data-init="menubar">
        <li class="menuitem" data-menuitem>
            <a data-button>Root Item #1</a>
            <ul class="menu hidden" data-menu>
                <li class="menuitem" data-menuitem>
                    <a>Item #1</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="http://google.com">Google</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #2</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #3</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #4</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #5</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menuitem" data-menuitem>
            <a data-button>Root Item #2</a>
            <ul class="menu hidden" data-menu>
                <li class="menuitem" data-menuitem>
                    <a>Item #1</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #2</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #3</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #4</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
                <li class="menuitem" data-menuitem>
                    <a>Item #5</a>
                    <ul class="menu hidden" data-menu>
                        <li class="menuitem" data-menuitem><a href="#">Link #1</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #2</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #3</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #4</a></li>
                        <li class="menuitem" data-menuitem><a href="#">Link #5</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    {% endhighlight %}
</article>
<br>
<article>
    Above is the most common way to initialize a menubar.  By using the <strong>data-init="menubar"</strong> attribute and marking buttons, menuitems and submenus with their respective marker attributes.
    You can also build a menubar directly by calling the <a href="../classes/menubar.html">Menubar</a> class and adding <a href="../classes/menubar.html#menubaritem">MenuBarItem</a> components to it directly.
</article>
<br><br>
