@import "../base/variables";


.mr-auto {
  margin-right: auto !important;
}


.mt-auto {
  margin-top: auto !important;
}


.mb-auto {
  margin-bottom: auto !important;
}


.ml-auto {
  margin-left: auto !important;
}


.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}


.m-auto {
  margin: auto;
}


.fluid {
  width: 100% !important;
  height: 100% !important;
}


.fluid-width {
  width: 100% !important;
}


.fluid-height {
  height: 100% !important;
}


@each $mult in $SPACER-MULTIPLIERS {
  $i: index($SPACER-MULTIPLIERS, $mult);
  $s: ($SPACER * $mult);
  $directions: r, l, b, t;

  .m-#{$i} {
    margin: $s !important;
  }

  .p-#{$i} {
    padding: $s !important;
  }

  @each $d in right, left, bottom, top {
    $c: str-slice($d, 0, 1);

    .m#{$c}-#{$i} {
      margin-#{$d}: $s !important;
    }
  }
}