

.mr-auto {
  margin-right: auto !important;
}


.mt-auto {
  margin-top: auto !important;
}


.mb-auto {
  margin-bottom: auto !important;
}


.ml-auto {
  margin-left: auto !important;
}


.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}


.m-auto {
  margin: auto;
}


.fluid {
  width: 100% !important;
  height: 100% !important;
}


.fluid-width {
  width: 100% !important;
}


.fluid-height {
  height: 100% !important;
}
