


.attributes-widget {
  .attribute-search-box {
    .select-menu {
      max-height: 200px;
      overflow-y: auto;
    }
  }

  .attribute-item {
    margin-bottom: 1rem;

    &.open .attribute-item__body {
      display: block;
    }
  }

  .attributes-widget__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      margin: 0 auto 0 0;
    }
  }

  .attribute-item__header {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 0.5rem;
    align-items: center;
    user-select: none;
  }

  .attribute-item__label {
    margin: 0;
  }

  .attribute-item__delete-btn {
    margin-right: 0.5rem;
  }

  .attribute-item__body {
    display: none;
    padding: 0.5rem;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px 1px 1px;
  }

  .attribute-item__dv {
    width: 100%;
    height: 150px;
    resize: none;
  }

  .attribute-item__dv-label {
    font-weight: 700;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
  }
}