

.data-column {
  border: 1px solid #000;
  position: relative;
  box-sizing: border-box !important;
  display: inline-block;
  padding: 0.25rem;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;

  &.ui-sorting {
    visibility: hidden;
  }

  .ui-resize-handle {
    position: absolute;
    right: -5px;
    top: 0;
    bottom: 0;
    width: 10px;
    z-index: 10;
    background-color: #000000;
    cursor: col-resize;
  }

  &.ui-drag-helper {
    pointer-events: none;
  }
}