

.datagrid {
  border: 1px solid #ccc;

  .datagrid__body {
    position: relative;
    height: 400px;
    overflow: hidden;

    .viewport {
      width: 100%;
      height: 100%;

      .viewport__scroll-area {
        overflow: auto;
      }
    }
  }
}


.data-grid-header {
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  color: #222;
  font-weight: 700;
  width: 100%;
  overflow: hidden;

  .data-grid-header__body {
    display: flex;
    flex-direction: row;
  }

  .ui-resize-handle {
    position: absolute;
    right: -5px;
    top: 0;
    bottom: 0;
    cursor: col-resize;
    width: 10px;
  }
}


.data-column {
  border-right: 1px solid #ccc;
  position: relative;
  overflow: hidden;

  .data-column__body {
    white-space: nowrap;
    padding: 0.25rem;
  }
}


.table-view {
  width: 100%;
  border-spacing: 0;

  tr:first-child td {
    border-top: 0;
  }

  td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .table-view__cell {
      padding: 0.25rem;
    }
  }

  td:first-child {
    border-left: 0;
  }
}


.datagrid.datagrid--version1 {

}