.menubar, .menu {
  user-select: none;
  cursor: default;
}

.menuitem {
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  border-bottom: 1px solid #e0e0e0;

  &.hidden {
    display: none;
  }
}


.menuitem.active {
  background-color: #ccc;
}


.menubar {
  .menubar__body {
    display: flex;
    flex-direction: row;
    background-color: rgb(215, 220, 225);
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a:hover {
    text-decoration: none;
  }

  .menuitem {
    padding: 0.5rem;
  }
}


.menu {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  min-width: 15rem;
  z-index: 2;
  margin: 0;

  a:hover {
    text-decoration: none;
  }

  &.hidden {
    display: none;
  }

  .menuitem {
    & > a {
      display: block;
      padding: 0.5rem;
      text-decoration: none;
    }
  }
}


.vertical-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10rem;
  border: 1px solid #ccc;
}


.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: top;

  .selection {
    user-select: none;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 2rem;
    min-width: 10rem;

    border: 1px solid #cccccc;
    background-color: #ffffff;
  }

  &.select {
    &:not(.multiple) .selection {
      .choice {
        padding: 0.5rem;
      }
    }

    &.multiple .option.selected {
      background-color: #ccc;
    }

    &.multiple .selection {
      padding: 0.5rem 0 0 0.5rem;
      overflow-y: scroll;

      .exit-button {
        font-family: "Font Awesome 5 Pro", serif;
        font-weight: 900;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        cursor: pointer;

        &:hover {
          color: #770000;
        }

        &:before {
          content: "\f00d";
        }
      }

      .choice {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 0.25rem;
        margin: 0 0.5rem 0.5rem 0;
      }
    }

    &.multiple {
      .select-filter-container {
        width: 2rem;
        display: inline-block;

        .item-filter {
          width: 100%;
        }

        .item-filter__input {
          width: 100%;
          border: 0;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}


.select-menu {
  border: 1px solid #ccc;
  background-color: #fff;
  user-select: none;
  position: absolute;
  z-index: 100;

  &.hidden {
    display: none;
  }
}


.select-option {
  &.filtered {
    display: none;
  }

  &.active {
    background-color: #eaeaea;
  }

  .select-option__body {
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    cursor: pointer;
  }

  a.select-option__body {
    &:hover {
      text-decoration: none;
    }
  }

  .select-option__check {
    visibility: hidden;
    margin-right: 0.3rem;
  }

  &.selected .select-option__check {
    visibility: visible;
  }
}


.rich-select {
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 0 0.3rem;

  &:focus-within {
    border-color: #2a7ae2;
  }

  .select-button__input {
    border: none;
    padding: 0.3rem;

    &:focus {
      outline: none;
    }
  }

  .select-menu {
    min-width: 100%;
  }
}


.combo-box {
  @extend .rich-select;
}


.multi-combo-box {
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  background-color: #ffffff;

  .select-menu {
    min-width: 100%;
  }

  .multi-combo-box__button {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 4px;
  }

  .multi-combo-box__input {
    flex: 1;
    min-width: 3rem;
    white-space: nowrap;
    overflow: hidden;
    margin: 0.25rem 0.25rem 0.25rem 0;

    &:focus {
      outline: none;
    }
  }

  .multi-combo-box__pill {
    display: flex;
    border-radius: 0.5em;
    padding: 2px 5px;
    background-color: #EBEDF0;
    color: #475466;
    font-size: 14px;
    margin: 0.25rem 0.25rem 0.25rem 0;
    user-select: none;
  }

  .pill__text {

  }

  .pill__exit-button {
    margin-left: 0.25rem;
  }
}


.rich-select, .multi-combo-box, .combo-box {
  min-width: 13rem;
}


.side-menubar {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(215, 220, 225);

  a:hover {
    text-decoration: none;
  }

  .menuitem {
    padding: 0.5rem;
  }
}


.context-menu {
  @extend .menu;
}
