@import "../variables";


.c-menuitem {
  position: relative;
  user-select: none;
}


@mixin submenu-mixin {
  position: absolute;
  z-index: $menu-z-layer;
  min-width: 16rem;
  box-shadow: 0 0 3px #3a3a3a;
  border-radius: 0.25rem;
  background-clip: border-box;
  border: 1px solid #ccc;
  visibility: hidden;
}


.c-menu {
  background-color: #fff;
  border-radius: 0.25rem;
  background-clip: border-box;
  border: 1px solid #ccc;

  .c-menu {
    @include submenu-mixin;

    left: 100%;
    top: 0;
  }

  .c-menuitem > a {
    display: block;
    padding: 0.5rem;
  }

  .c-menuitem.disabled > a {
    color: #d0d0d0;
  }
}


.c-menu--active-items {
  .c-menuitem.active > a {
    background-color: #0366d6;
    color: #fff;
  }
}


.c-menubar {
  @extend .c-menu;

  position: static;
  border: 1px solid #ccc;

  .c-menuitem.active > a {
    background-color: #0366d6;
    color: #fff;
  }

  .c-menu {
    @include submenu-mixin;

    left: 0;
    top: 100%;

    .c-menu {
      left: 100%;
      top: 0;
    }
  }

  & > .c-menuitem {
    display: inline-block;
    position: relative;
    user-select: none;

    & > a {
      display: inline-block;
      padding: 0.5rem;
    }
  }
}


.c-select-menu {
  background-color: #fff;
  min-width: 16rem;
  box-shadow: 0 0 3px #3a3a3a;
  border-radius: 0.25rem;
  background-clip: border-box;
  border: 1px solid #ccc;

  .c-menuitem > a {
    display: block;
    padding: 0.5rem;
  }

  .c-menuitem.selected > a {
    background-color: #0366d6;
    color: #fff;
  }
}


.c-dropdown {
  display: inline-block;

  .c-menu {
    @include submenu-mixin;
  }
}


.c-menu__filter {
  background: #fafafa;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;

  .c-filter {
    width: 100%;
    padding: 0.25rem;
    font-size: 1rem;
    color: #101010;
  }
}