

.c-paginator {
  display: inline-flex;

  > * {
    margin-right: 0.5rem;
    line-height: 1.32rem;

    &:last-child {
      margin: 0;
    }
  }

  button {
    height: 1.32rem;
  }

  * {
    box-sizing: border-box;
  }
}


.c-paginator__left-controls {

}


.c-paginator__right-controls {

}


.c-paginator__page-input-container {

}


.c-paginator__page-input {
  height: 1.32rem;
}


.c-paginator__first, .c-paginator__previous, .c-paginator__next, .c-paginator__last {

}