

table.p-table {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);

  thead {
    background-color: #eaeaea;
  }

  th {
    border: 1px solid #cccccc;
    text-align: left;
  }

  td {
    border: 1px solid #cccccc;
  }

  th, td {
    padding: 0.5rem 1rem;
  }

  tbody tr:nth-child(even) {
    background-color: #f8f6ff;
  }
}


table.p-table.table-version2, table.p-table.table-classic {
  thead {
    background-color: #2a7ae2;
    color: #ffffff;
    font-weight: 700;
  }

  tbody tr:nth-child(even) {
    background-color: #f8f6ff;
  }

  td {
    color: #808080;
  }
}


table.p-table.table-version3, table.p-table.table-dark {
  border: none;

  th, td {
    border: none;
  }

  tr {
    border: 1px solid #444;
  }

  thead {
    background-color: #333;
    color: #00ad5f;
  }

  tbody {
    background-color: #222;
    color: #808080;
  }

  tbody tr:nth-child(even) {
    background-color: #222;
  }
}


table.p-table.table-open {
  border: none;

  th {
    border: none;
  }

  td {
    border: none;
  }
}


table.p-table.table-padding-2 {
  th, td {
    padding: 1rem 1.5rem;
  }

  th {
    font-size: 1.2rem;
  }
}


table.p-table.table-inline {
  border: none !important;
  box-shadow: none !important;

  thead th {
    border-top: none !important;
  }

  th:first-child, td:first-child {
    border-left: none;
  }

  th:last-child, td:last-child {
    border-right: none;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}