.menubar, .menu {
  user-select: none;
  cursor: default;
}


.menu .menu {
  left: 100%;
  top: 0;
}


.menuitem {
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  & > a {
    text-decoration: none;
  }
}


.menuitem.active {
  background-color: #ccc;
}


.menubar {
  display: flex;
  flex-direction: row;
  background-color: rgb(215, 220, 225);
  position: relative;

  .menuitem {
    padding: 0.5rem;
  }
}


.menu {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #ffffff;
  top: 100%;
  left: 0;
}


.menu.hidden {
  visibility: hidden;
}