.menubar, .menu {
  user-select: none;
  cursor: default;
}

.menuitem {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}


.menuitem.active {
  background-color: #ccc;
}


.menubar {
  display: flex;
  flex-direction: row;
  background-color: rgb(215, 220, 225);
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  .menuitem {
    padding: 0.5rem;
  }
}


.menu {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  min-width: 15rem;
  z-index: 2;
  margin: 0;

  &.hidden {
    display: none;
  }

  .menuitem {
    & > a {
      display: block;
      padding: 0.5rem;
      text-decoration: none;
    }
  }
}


.vertical-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10rem;
  border: 1px solid #ccc;
}


.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: top;

  .selection {
    user-select: none;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 2rem;
    min-width: 10rem;

    border: 1px solid #cccccc;
    background-color: #ffffff;
  }

  &.select {
    &:not(.multiple) .selection {
      .choice {
        padding: 0.5rem;
      }
    }

    &.multiple .option.selected {
      background-color: #ccc;
    }

    &.multiple .selection {
      padding: 0.5rem 0 0 0.5rem;
      overflow-y: scroll;

      .exit-button {
        font-family: "Font Awesome 5 Pro", serif;
        font-weight: 900;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        cursor: pointer;

        &:hover {
          color: #770000;
        }

        &:before {
          content: "\f00d";
        }
      }

      .choice {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 0.25rem;
        margin: 0 0.5rem 0.5rem 0;
      }
    }

    &.multiple {
      .select-filter-container {
        width: 2rem;
        display: inline-block;

        .item-filter {
          width: 100%;
        }

        .item-filter__input {
          width: 100%;
          border: 0;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}


.select-menu {
  &.has-filter {
    .menu__header {
      background-color: #eaeaea;
      padding: 0.5rem;
      border-bottom: 1px solid #333;
    }
  }

  .item-filter__input {
    width: 100%;
  }

  .placeholder {
    display: none;
    padding: 0.5rem;
  }

  &.all-items-filtered .placeholder {
    display: block;
  }
}


.menuitem.hidden {
  display: none;
}


.select-highlight {
  outline: 2px solid Highlight;
}


.select-menu {
  position: absolute;
  z-index: 2;

  & .select-menu__body {
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 0;
    min-width: 15rem;
    margin: 0;
    list-style: none;
  }

  & .select-menu__header {
    background-color: #eaeaea;
    padding: 0.5rem;
    border-bottom: 1px solid #333;
  }

  h3 {
    margin: 0;
    padding: 0.25rem;
  }

  hr {
    border-top: 1px solid #ccc;
    margin: 0.25rem 0 0.25rem 0;
  }

  a:hover {
    text-decoration: none;
  }

  .option {
    @extend .menuitem;
    display: block;
    padding: 0.25rem;
  }

  .option.filtered {
    display: none;
  }

  &.hidden {
    display: none;
  }
}
