@charset "UTF-8";
.menubar, .menu, .context-menu {
  user-select: none;
  cursor: default;
}

.menuitem {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  border-bottom: 1px solid #e0e0e0;
}
.menuitem.hidden {
  display: none;
}

.menuitem.active {
  background-color: #ccc;
}

.menubar {
  display: flex;
  flex-direction: row;
  background-color: #d7dce1;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menubar a:hover {
  text-decoration: none;
}
.menubar .menuitem {
  padding: 0.5rem;
}

.menu, .context-menu {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  min-width: 15rem;
  z-index: 2;
  margin: 0;
}
.menu a:hover, .context-menu a:hover {
  text-decoration: none;
}
.menu.hidden, .hidden.context-menu {
  display: none;
}
.menu .menuitem > a, .context-menu .menuitem > a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

.vertical-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10rem;
  border: 1px solid #ccc;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.dropdown .selection {
  user-select: none;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 2rem;
  min-width: 10rem;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.dropdown.select:not(.multiple) .selection .choice {
  padding: 0.5rem;
}
.dropdown.select.multiple .option.selected {
  background-color: #ccc;
}
.dropdown.select.multiple .selection {
  padding: 0.5rem 0 0 0.5rem;
  overflow-y: scroll;
}
.dropdown.select.multiple .selection .exit-button {
  font-family: "Font Awesome 5 Pro", serif;
  font-weight: 900;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  cursor: pointer;
}
.dropdown.select.multiple .selection .exit-button:hover {
  color: #770000;
}
.dropdown.select.multiple .selection .exit-button:before {
  content: "";
}
.dropdown.select.multiple .selection .choice {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0.25rem;
  margin: 0 0.5rem 0.5rem 0;
}
.dropdown.select.multiple .select-filter-container {
  width: 2rem;
  display: inline-block;
}
.dropdown.select.multiple .select-filter-container .item-filter {
  width: 100%;
}
.dropdown.select.multiple .select-filter-container .item-filter__input {
  width: 100%;
  border: 0;
}
.dropdown.select.multiple .select-filter-container .item-filter__input:focus {
  outline: none;
}

.select-menu {
  border: 1px solid #ccc;
  background-color: #fff;
  user-select: none;
  position: absolute;
  z-index: 100;
}
.select-menu.hidden {
  display: none;
}

.select-option.filtered {
  display: none;
}
.select-option.active {
  background-color: #eaeaea;
}
.select-option .select-option__body {
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
  cursor: pointer;
}
.select-option a.select-option__body:hover {
  text-decoration: none;
}
.select-option .select-option__check {
  visibility: hidden;
  margin-right: 0.3rem;
}
.select-option.selected .select-option__check {
  visibility: visible;
}

.rich-select, .combo-box {
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 0 0.3rem;
}
.rich-select:focus-within, .combo-box:focus-within {
  border-color: #2a7ae2;
}
.rich-select .select-button__input, .combo-box .select-button__input {
  border: none;
  padding: 0.3rem;
}
.rich-select .select-button__input:focus, .combo-box .select-button__input:focus {
  outline: none;
}
.rich-select .select-menu, .combo-box .select-menu {
  min-width: 100%;
}

.multi-combo-box {
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  background-color: #ffffff;
}
.multi-combo-box .select-menu {
  min-width: 100%;
}
.multi-combo-box .multi-combo-box__button {
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4px;
}
.multi-combo-box .multi-combo-box__input {
  flex: 1;
  min-width: 3rem;
  white-space: nowrap;
  overflow: hidden;
  margin: 0.25rem 0.25rem 0.25rem 0;
}
.multi-combo-box .multi-combo-box__input:focus {
  outline: none;
}
.multi-combo-box .multi-combo-box__pill {
  display: flex;
  border-radius: 0.5em;
  padding: 2px 5px;
  background-color: #EBEDF0;
  color: #475466;
  font-size: 14px;
  margin: 0.25rem 0.25rem 0.25rem 0;
  user-select: none;
}
.multi-combo-box .pill__exit-button {
  margin-left: 0.25rem;
}

.rich-select, .multi-combo-box, .combo-box {
  min-width: 13rem;
}

.side-menubar {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #d7dce1;
}
.side-menubar a:hover {
  text-decoration: none;
}
.side-menubar .menuitem {
  padding: 0.5rem;
}

.notification {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  background-color: #f3f3f3;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 0.5rem;
  font-weight: 700;
  z-index: 1000;
}

.notification__inner {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}

.notification__icon {
  margin-right: 0.5rem;
}

.notification.success {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.notification-placement-top-left {
  position: fixed;
  left: 0;
  top: 0;
}

.notification-placement-top-right {
  position: fixed;
  right: 0;
  top: 0;
}

.notification-placement-bottom-left {
  position: fixed;
  left: 0;
  bottom: 0;
}

.notification-placement-bottom-right {
  position: fixed;
  right: 0;
  bottom: 0;
}

.notification-placement-left {
  position: fixed;
  left: 0;
  top: 40%;
}

.notification-placement-right {
  position: fixed;
  right: 0;
  top: 40%;
}

.notification-placement-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.notification-placement-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.notification-placement-bottom .notification-placement-body {
  position: absolute;
  bottom: 0;
}

.modal {
  background: rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal.closed {
  display: none;
}

.dialog {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.8);
  min-width: 800px;
  min-height: 400px;
}

.dialog__titlebar {
  display: flex;
  flex-direction: row;
}

.dialog__title {
  padding: 0.5rem;
}

.dialog__header {
  background-color: #cccccc;
}

.dialog__body {
  background-color: #ffffff;
  flex: 1;
}

.dialog__footer {
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
}

.dialog__exit-button {
  background: rgba(220, 53, 69, 0);
  font-weight: 700;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  transition: background 0.3s, color 0.2s;
}
.dialog__exit-button:hover {
  background: #dc3545;
  color: #ffffff;
  transition: background 0.3s, color 0.2s;
}

.pane-view {
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  align-items: stretch;
  position: absolute;
  box-sizing: border-box !important;
}
.pane-view.column {
  flex-direction: column;
}
.pane-view.column .pane-handle {
  height: 5px;
  width: 100%;
  cursor: row-resize;
}

.pane__handle {
  background-color: #000000;
  cursor: col-resize;
  box-sizing: border-box !important;
  width: 5px;
}

.pane, .pane-fluid {
  box-sizing: border-box !important;
  position: relative;
  overflow: hidden;
}
.pane.handle-right .pane__handle, .handle-right.pane-fluid .pane__handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  height: auto;
}
.pane.handle-right .pane__body, .handle-right.pane-fluid .pane__body {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 5px;
}
.pane.handle-left .pane__handle, .handle-left.pane-fluid .pane__handle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  height: auto;
}
.pane.handle-left .pane__body, .handle-left.pane-fluid .pane__body {
  position: absolute;
  left: 5px;
  right: 0;
  top: 0;
  bottom: 0;
}
.pane.handle-bottom .pane__handle, .handle-bottom.pane-fluid .pane__handle {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: 5px;
  width: auto;
  cursor: row-resize;
}
.pane.handle-bottom .pane__body, .handle-bottom.pane-fluid .pane__body {
  position: absolute;
  bottom: 5px;
  right: 0;
  top: 0;
  left: 0;
}
.pane.handle-top .pane__handle, .handle-top.pane-fluid .pane__handle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  width: auto;
  height: 5px;
  cursor: row-resize;
}
.pane.handle-top .pane__body, .handle-top.pane-fluid .pane__body {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 5px;
  left: 0;
}

.pane-fluid {
  flex: 1;
}

.data-column {
  border: 1px solid #000;
  position: relative;
  box-sizing: border-box !important;
  display: inline-block;
  padding: 0.25rem;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
}
.data-column .ui-resize-handle {
  position: absolute;
  right: -5px;
  top: 0;
  bottom: 0;
  width: 10px;
  z-index: 10;
  background-color: #000000;
  cursor: col-resize;
}

.mr-auto {
  margin-right: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.fluid {
  width: 100% !important;
  height: 100% !important;
}

.fluid-width {
  width: 100% !important;
}

.fluid-height {
  height: 100% !important;
}

.container {
  width: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.container > .row {
  margin: -1rem;
}

.container-fluid {
  width: 100%;
  padding: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font: 16px Helvetica, Arial, sans-s;
  color: #000000;
}

/*# sourceMappingURL=pendora.css.map */
