@charset "UTF-8";
.menubar, .menu {
  user-select: none;
  cursor: default;
}

.menuitem, .select-menu .option {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.menuitem.active, .select-menu .active.option {
  background-color: #ccc;
}

.menubar {
  display: flex;
  flex-direction: row;
  background-color: #d7dce1;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menubar .menuitem, .menubar .select-menu .option, .select-menu .menubar .option {
  padding: 0.5rem;
}

.menu {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  min-width: 15rem;
  z-index: 2;
  margin: 0;
}
.menu.hidden {
  display: none;
}
.menu .menuitem > a, .menu .select-menu .option > a, .select-menu .menu .option > a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

.vertical-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10rem;
  border: 1px solid #ccc;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.dropdown .selection {
  user-select: none;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 2rem;
  min-width: 10rem;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.dropdown.select:not(.multiple) .selection .choice {
  padding: 0.5rem;
}
.dropdown.select.multiple .option.selected {
  background-color: #ccc;
}
.dropdown.select.multiple .selection {
  padding: 0.5rem 0 0 0.5rem;
  overflow-y: scroll;
}
.dropdown.select.multiple .selection .exit-button {
  font-family: "Font Awesome 5 Pro", serif;
  font-weight: 900;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  cursor: pointer;
}
.dropdown.select.multiple .selection .exit-button:hover {
  color: #770000;
}
.dropdown.select.multiple .selection .exit-button:before {
  content: "";
}
.dropdown.select.multiple .selection .choice {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0.25rem;
  margin: 0 0.5rem 0.5rem 0;
}
.dropdown.select.multiple .select-filter-container {
  width: 2rem;
  display: inline-block;
}
.dropdown.select.multiple .select-filter-container .item-filter {
  width: 100%;
}
.dropdown.select.multiple .select-filter-container .item-filter__input {
  width: 100%;
  border: 0;
}
.dropdown.select.multiple .select-filter-container .item-filter__input:focus {
  outline: none;
}

.select-menu {
  user-select: none;
}
.select-menu.has-filter .menu__header {
  background-color: #eaeaea;
  padding: 0.5rem;
  border-bottom: 1px solid #333;
}
.select-menu .item-filter__input {
  width: 100%;
}
.select-menu .placeholder {
  padding: 0.5rem;
}
.select-menu.all-items-filtered .placeholder {
  display: block;
}
.select-menu .option.selected {
  background-color: #66FCF1;
}

.menuitem.hidden, .select-menu .hidden.option {
  display: none;
}

.select-highlight {
  outline: 2px solid Highlight;
}

.select-menu {
  position: absolute;
  z-index: 2;
}
.select-menu .select-menu__body {
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 0;
  min-width: 15rem;
  margin: 0;
  list-style: none;
}
.select-menu .select-menu__header {
  background-color: #eaeaea;
  padding: 0.5rem;
  border-bottom: 1px solid #333;
}
.select-menu h3 {
  margin: 0;
  padding: 0.25rem;
}
.select-menu hr {
  border-top: 1px solid #ccc;
  margin: 0.25rem 0 0.25rem 0;
}
.select-menu a:hover {
  text-decoration: none;
}
.select-menu .option {
  display: block;
  padding: 0.25rem;
}
.select-menu .option.filtered {
  display: none;
}
.select-menu.hidden {
  display: none;
}

.combobox {
  border: 1px solid #ccc;
  background-color: #fff;
  display: inline-block;
  padding: 0 0.5rem;
}
.combobox:focus-within {
  border: 1px solid #2a7ae2;
}
.combobox .combobox__input {
  border: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
}
.combobox .combobox__input:focus {
  outline: 0;
}

.combobox__menu .select-menu__header, .combobox__menu .select-menu__footer {
  display: none;
}

/*# sourceMappingURL=pendora.css.map */
