@charset "UTF-8";
.menubar, .menu {
  user-select: none;
  cursor: default;
}

.menuitem {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.menuitem.active {
  background-color: #ccc;
}

.menubar {
  display: flex;
  flex-direction: row;
  background-color: #d7dce1;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menubar .menuitem {
  padding: 0.5rem;
}

.menu {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  min-width: 15rem;
  z-index: 2;
  margin: 0;
}
.menu .menuitem > a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}
.menu[data-position="bottom left"] {
  top: 100%;
  left: 0;
}
.menu[data-position="bottom right"] {
  top: 100%;
  right: 0;
}
.menu[data-position="right top"] {
  top: 0;
  left: 100%;
}
.menu[data-position="right bottom"] {
  bottom: 0;
  left: 100%;
}
.menu[data-position="left top"] {
  top: 0;
  right: 100%;
}
.menu[data-position="left bottom"] {
  bottom: 0;
  right: 100%;
}
.menu[data-position="top left"] {
  bottom: 100%;
  left: 0;
}
.menu[data-position="top right"] {
  bottom: 100%;
  right: 0;
}

.menu.hidden {
  visibility: hidden;
  display: none;
}

.vertical-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10rem;
  border: 1px solid #ccc;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .selection {
  user-select: none;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 2rem;
  min-width: 10rem;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.dropdown.select:not(.multiple) .selection .choice {
  padding: 0.5rem;
}
.dropdown.select.multiple .option.selected {
  background-color: #ccc;
}
.dropdown.select.multiple .selection {
  padding: 0.5rem 0 0 0.5rem;
  overflow-y: scroll;
}
.dropdown.select.multiple .selection .exit-button {
  font-family: "Font Awesome 5 Pro", serif;
  font-weight: 900;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  cursor: pointer;
}
.dropdown.select.multiple .selection .exit-button:hover {
  color: #770000;
}
.dropdown.select.multiple .selection .exit-button:before {
  content: "";
}
.dropdown.select.multiple .selection .choice {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0.25rem;
  margin: 0 0.5rem 0.5rem 0;
}
.dropdown.select .placeholder {
  display: none;
}
.dropdown.select .all-items-filtered .placeholder {
  display: block;
}
.dropdown.select.multiple .select-filter-container {
  width: 2rem;
  display: inline-block;
}
.dropdown.select.multiple .select-filter-container .item-filter {
  width: 100%;
}
.dropdown.select.multiple .select-filter-container .item-filter__input {
  width: 100%;
  border: 0;
}
.dropdown.select.multiple .select-filter-container .item-filter__input:focus {
  outline: none;
}

.select-menu.has-filter .menu__header {
  background-color: #eaeaea;
  padding: 0.5rem;
  border-bottom: 1px solid #333;
}
.select-menu .item-filter__input {
  width: 100%;
}

.menuitem.hidden {
  display: none;
}

/*# sourceMappingURL=pendora.css.map */
