@import "github";

body {
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  color: #0B0C10;
}


body {
  font-family: "Open Sans",Helvetica,sans-serif;
  font-size: 15pt;
  font-weight: 400;
  background-color: #f0f0f1;
}


#header {
  background-color: #0B0C10;
  color: #fff5f5;
  font-size: 2rem;
  line-height: 3.5rem;
  padding: 0 1rem;
  letter-spacing: 0.225rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav, nav > ul {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  nav > ul > li {
    margin-right: 1rem;
  }
}


#splash {
  background: #1F2833 linear-gradient(#0B0C10, #1F2833, #0B0C10);
  color: #66FCF1;
  margin-bottom: 1rem;

  h2 {
    color: #66FCF1;
    letter-spacing: 0.1rem;
  }
}


#splash header {
  padding: 4rem 0 2rem 0;
  text-align: center;
}


#main {
  width: 60rem;
  margin: 0 auto;
}


#content {
  width: 60rem;
  margin: 0 auto;
}


.mr-auto {
  margin-right: auto !important;
}


a {
  color: #114062;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


.module-table {
  $border: 1px solid #333;

  td {
    border: $border;
    white-space: nowrap;
    padding: 0.3rem;
  }

  border: $border;
  width: 100%;
  border-collapse: collapse;

  .var-type {
    width: 1%;
  }

  .module-name {
    border: $border;
    vertical-align: top;
    padding: 0.3rem;
    width: 1%;
    white-space: nowrap;
  }

  .module-description {
    border: $border;
    vertical-align: top;
    padding: 0.3rem;
  }
}


.property-display {
  margin-bottom: 1rem;
  width: 100%;
}


p {
  line-height: 1.5;
}


.property-info__kv {
  display: inline-flex;
  border: 1px solid #ccc;

  .key {
    padding: 0.5rem;
    border-right: 1px solid #ccc;
  }

  .value {
    padding: 0.5rem;
  }
}


.property-info {
  margin-bottom: 2rem;

  h4 {
    border-bottom: 2px solid #2a7ae2;
    padding-bottom: 0.4rem;
  }
}


.example {
  margin-bottom: 1rem;

  figure {
    margin: 0 0 1rem 0;
  }

  pre {
    margin: 0;
  }

  h4 {
    display: block;
    background-color: #1F2833;
    color: #ffffff;
    padding: 0.25rem;
    margin: 0;
  }

  code {
    max-height: 25rem;
    display: block;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  .result {
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 1rem;
  }
}


.info-table {
  margin-bottom: 1rem;

  h4 {
    display: block;
    background-color: #1F2833;
    color: #ffffff;
    padding: 0.25rem;
    margin: 0;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;

    td {
      border: 1px solid #ccc;
      padding: 0.25rem;
    }
  }
}


.method-info {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #9aa;
}